.note_links
  = link_to '&#9432;'.html_safe, note, class: "note_link", title: 'more info'
  = link_to '&#9447;'.html_safe, note, class: "note_link", method: :delete, data: { confirm: 'Are you sure?' }, title: 'destroy note'
