// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 10px;
}

.ol.calendar { 
  width: 1300px;
  margin: 0 auto;
  display: block; 
  min-height: 100px;
}

li {
  list-style: none;
  width: 165px;
  min-height: 100px;
  float: left;
  margin: 3px;
  padding: 3px;
  overflow: auto;
  background: lightgrey bottom right no-repeat;

  &.note_day_6,
  &.note_day_0 {
    background-color: grey;
  }

  &.note_Done {
    color: red;

    &.note_day_6,
    &.note_day_0 {
      color: pink;
    }
  }
  
  &.note_Todo {
    color: green;

    &.note_day_6,
    &.note_day_0 {
      color: lightgreen;
    }
  }

  &.note_Today {
    background-color: yellow;
  }
}
